# Build and default files
vscodecolor.css
node_modules/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
API/node_modules/
Mobile/node_modules/
# macOS
.DS_Store

# Config file for
API/conf.js
